<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cherrydev.chirpchain" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:name=".ChirpchainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >



        <service
            android:name=".ChirpMessageService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <activity
            android:name=".activity.Chirp"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:label="@string/title_activity_chirp" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ChooseDestination"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme"
            android:label="@string/choose_destination_label"></activity>

        <receiver android:name=".util.IncomingSms">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
